html, body, div, span, applet, object, iframe,			/* reset css */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body								
{
	font-family: Arial, Helvetica, Georgia;
	font-size: 16px;
	line-height: 40px;
	text-decoration:none;
}
.container							
{
	width: 940px;
	margin: 0 auto;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumbold';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

a
{
	text-decoration:none;
}
ul
{
	list-style-type:none;
}
.logoClass
{
	float:left;
	margin:10px 0px 0px 0px;
}

.headerNavigation
{
	float:right;
}
.headerNavigation li
{
	float:left;
	margin:2px 12px;
}
.headerNavigation  a
{
	color:#666666;
	font-family: 'open_sanssemibold';
}
.login
{
	display:block;
	float:right;
	margin-top:5px;
	line-height:18px;
	font-size:14px;
	color:#ff8a00;
	padding:4px 0px;
	width:62px;
	border-width:2px;
	border-color:#ff8a00;
	border-style:solid;
	border-radius:3px;
	text-align:center;
	font-family: 'open_sanssemibold';
    
}
.clear
{
	clear:both;
	float:none;
}
.banner
{
	height:600px;
	background-size:cover;
	background-image: url('../images/banner.png');
	background-repeat:no-repeat;
}
.text
{
	width:380px;
	float:right;
	padding-top:50px;
}
.h1
{
	font-family: 'open_sanslight';
	line-height:54px;
	font-size:40px;
	color:#222222;
	padding-bottom:40px;
}

.getStarted
{
	display:block;
	font-family: 'open_sansbold';
	line-height:18px;
	font-size:30px;
	color:#ffffff;
	padding:18px 0px;
	width:220px;
	border-radius:3px;
	text-align:center;
	background:#ff8a00;
}
.contents
{
	background:#f0f0f0;
}
.features
{
	padding-top:78px;
}
.h2
{
	font-family: 'ubuntulight';
	font-size:36px;
	line-height:40px;
	color:#444444;
	text-align:center;
}
.icons
{
	margin-top:40px;
}
.icons li
{
	width:220px;
	height:140px;
	float:left;
	margin-right:20px;
	//margin-bottom:50px;
	position:relative;
}
.icons li.last
{
	margin-right:0px;
}
.icons #icon1
{
	background:#ff8a00 url('../images/icon1.png') center center no-repeat;
}
.icons #icon2
{
	background:#ff8a00 url('../images/icon2.png') center center no-repeat;
}
.icons #icon3
{
	background:#ff8a00 url('../images/icon3.png') center center no-repeat;
}
.icons #icon4
{
	background:#ff8a00 url('../images/icon4.png') center center no-repeat;
}
.iconsBottom #icon5
{
	background:#ff8a00 url('../images/icon5.png') center center no-repeat;
}
.iconsBottom #icon6
{
	background:#ff8a00 url('../images/icon6.png') center center no-repeat;
}
.iconsBottom #icon7
{
	background:#ff8a00 url('../images/icon7.png') center center no-repeat;
}
.iconsBottom #icon8
{
	background:#ff8a00 url('../images/icon8.png') center center no-repeat;
}


.icons li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
}
.rectangle
{
	border-radius:3px;
	border-width:2px;
	border-color:#f0f0f0;
	border-style:solid;
	background:#ffffff;
	padding-bottom:20px;
	
}
.circle
{
	display:block;
	width: 44px;
    height: 44px;
    border-radius: 22px;
	position:absolute;
	top:-22px;
	left:50%;
	margin-left:-22px;
}

.h5
{
	font-weight:Bold;
	font-size:14px;
	line-height:40px;
	color:#444444;
	text-align:center;
	padding-top:15px;
}
.h6
{
	font-size:11px;
	line-height:15px;
	color:#444444;
	padding:0px 15px 0px 15px;
	
}

.iconsBottom
{
	margin-top:50px;
	padding-bottom:20px;
}
.iconsBottom li
{
	width:220px;
	float:left;
	margin-right:20px;
	//margin-bottom:50px;
	position:relative;
}
.iconsBottom li.last
{
	margin-right:0px;
}
.iconsBottom li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
	
}
.footer
{
	background:#555555;
}
.footerTop
{	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#000000;
}
.footerTopLeft
{
	float:left;
	margin-top:30px;
	
}
.h3
{
	font-family: 'titilliumregular';
	font-size:26px;
	line-height:40px;
	color:#ffffff;
	padding-bottom:30px;
	font-family: 'titilliumregular';
	
	
}
.footerTopRight
{
	float:right;
	margin-top:20px;
}

.footerBottomLeft
{
	float:left;
	margin-top:25px;
}
.footerBottomLeft li 
{
	float:left;
	padding:0px 10px;
}
.footerBottomLeft a
{
	font-family: 'titilliumbold';
	font-size:18px;
	line-height:30px;
	color:white;
	
}
.footerBottomLeft li.first
{
	padding-left:0px;
}
.copyRight
{
	display:block;
	float:left;
	font-size:14px;
	color:#222222;
	font-family: 'titilliumregular';
}
.termsServices
{
	float:left;
}
.termsServices li
{
	float:left;
	padding:0px 10px;
}
.termsServices a
{
	font-family: 'titilliumregular';
	font-size:14px;
	color:#ffffff;
}
.socialIcons
{
	float:right;
	margin-top:-30px;
}
.socialIcons li
{
	float:left;
	width:30px;
	height:30px;
	border-radius:50%;
	background:#888888;
	margin-right:5px;
}
.socialIcons li.clear
{
	clear:both;
	float:none;
	width:0px;
	
}

.socialIcons a
{
display:block;
float:left;
height:18px;
width:22px;
background-repeat:no-repeat;
margin:7px 5px;
}
.socialIcons a.fb
{
background-image: url('../images/faceBook.png');
}
.socialIcons a.twitter
{
background-image: url('../images/twitter1.png');
}
.socialIcons a.pin
{
background-image: url('../images/pin1.png');
}
.socialIcons a.gplus
{
background-image: url('../images/gplus.png');
}