html, body, div, span, applet, object, iframe,			/* reset css */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body								
{
	font-family: Arial, Helvetica, Georgia;
	font-size: 16px;
	line-height: 40px;
	text-decoration:none;
}
a
{
	text-decoration:none;
}
ul
{
	list-style-type:none;
}
.clear
{
	clear:both;
	float:none;
}
.container							
{
	width: 940px;
	margin: 0 auto;
}
.header
{
	background: url('../images/headerGradient.jpg') center repeat-x;
}
.logo
{
	float:left;
	height:50px;
	width:165px;
	background: url('../images/logoImage.png') center no-repeat;
	margin:10px 0px 15px 0px;
}
.headerLeftNav
{
	float:left;
	margin:17px 0px 0px 60px;
}
.headerLeftNav li
{
	float:left;
	margin-right:35px;
}
.headerLeftNav li.last
{
	margin-right:0px;
}
.headerLeftNav  a
{
	color:#0077cc;
	font-family: 'Arial';
	font-size:14px;
	line-height:24px;
}
.socialNavigation
{
	float:right;
	margin-top:30px;
}
.socialNavigation li
{
	float:left;
	margin-right:5px;
}
.socialNavigation li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
}

.socialNavigation a
{
	display:block;
	float:left;
	height:16px;
	width:16px;
}
.socialNavigation a.facebook
{
	background:url('../images/facebook.png') center no-repeat;
}
.socialNavigation a.twitter
{
	background:url('../images/twitter.png') center no-repeat;
}
.socialNavigation li.last
{
	margin-right:0px;
}
.headerRightNav
{
	float:right;
	margin:30px 20px 0px 0px;
}
.headerRightNav li
{
	float:left;
	margin-right:15px;
}
.headerRightNav li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
}
.headerRightNav a
{
	display:block;
	padding-left:20px;
	font-family: 'Arial';
	font-size:12px;
	line-height:16px;
	color:#0077cc;
}
.headerRightNav a.contact
{
	background:url('../images/contact.png') left no-repeat;
}
.headerRightNav a.login
{
	background:url('../images/login.png') left no-repeat;
}
.headerRightNav li.last
{
	margin-right:0px;
}
.banner
{
	height:310px;
	background-color: #0064a4; /*//url('../images/leaves1.png') right no-repeat;*/
}
.banner .container
{
	background:url('../images/leaves1.png') right no-repeat;
}
.image
{
	width:464px;
	height:242px;
	float:left;
	margin-top:40px;
	margin-right:80px;
	background: url('../images/doctor.png') no-repeat;
}
.text
{
	width:387px;
	//height:310px;
	float:left;
	//padding-left:80px;
	margin:78px 0px 38px 0px;
	
	//background:url('../images/leaves1.png') no-repeat;
}
.text span
{
	display:block;	
}
.text h3
{
	font-family: 'Georgia';
	font-weight:Bold;
	font-style:Italic;
	line-height:40px;
	font-size:28px;
	color:#ffffff;
	//margin-top:78px;
	margin-bottom:70px;
}
.textBox
{
	border-radius:3px;
	padding:9px 77px 10px 5px;
	font-family: 'Arial';
	line-height:18px;
	font-size:16px;
	color:#b4b4b4;
	float:left;
	border:1px solid #ffffff;
}
.submitButton
{
	border-radius:3px;
	padding:10px 15px 10px 15px;
	font-family: 'Arial';
	line-height:18px;
	font-size:16px;
	color:#ffffff;
	float:left;
	background:#ff9600;
	border:1px solid #ff9600 ;
}
.contents
{
	margin-bottom:33px;
}
.quotedText
{
	float:left;
	width:237px;
	margin:18px 35px 0px 0px;
	
}
.startingQuote
{
	width:27px;
	height:20px;
	background: url('../images/startingQuote.png') no-repeat;
}
.endingQuote h6
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#42aae4;
}
.endingQuote p
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#b4b4b4;
}	
.endingQuote
{
	background-image: url('../images/endingQuote.png');
	background-repeat:no-repeat;
	background-position: right bottom;
	margin-bottom:7px;
}
.quotedText span
{
	float:right;
	font-family: 'Arial';
	line-height:20px;
	font-size:12px;
	color:#444444;
}
.readMore
{
	float:left;
	width:231px;
	margin:25px 45px 0px 0px;
}
.readMore h5
{
	display:block;
	font-family: 'Arial';
	line-height:18px;
	font-size:12px;
	color:#444444;
	margin-bottom:15px;

}
.readMore p
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#444444;
}
.readMore a
{
	float:right;
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#0077cc;
}
.signUpDetails
{
	float:left;
	width:387px;
	margin-top:26px;
}

.signUpDetails span
{
	display:block;
	font-family: 'Georgia';
	font-style:Italic;
	line-height:24px;
	font-size:16px;
	color:#0076d1;
	margin-bottom:18px;
}
.signUpDetails a
{
	background:#ff9600;
	border-radius:3px;
	padding:11px 30px 12px 31px;
	display:block;
	float:right;
	font-family: 'Arial';
	line-height:22px;
	font-size:24px;
	color:#ffffff;
}
.footer
{
	border-top: 1px solid #e2e2e2;
	padding-top:15px;
	padding-bottom:127px;
}
.footerNavigation
{
	float:left;
	width:135px;
	margin-right:35px;
}

.footerNavigation h6
{
	font-family: 'Arial';
	line-height:18px;
	font-size:12px;
	color:#444444;
	padding-bottom:5px;
}
.footerUl li
{
	border-bottom:1px dashed #e6e6e6;
}
.footerUl li.first
{
	border-top:1px dashed #e6e6e6;
}
.footerUl a
{
	font-family: 'Arial';
	line-height:14px;
	font-size:12px;
	color:#0077cc;
}
.copyRight
{
	float:right;
	font-family: 'Arial';
	line-height:18px;
	font-size:13px;
	color:#444444;
}
