html, body, div, span, applet, object, iframe,			/* reset css */
h1, h2, h3, h4, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body								
{
	font-family: Arial, Helvetica, Georgia;
	font-size: 16px;
	line-height: 40px;
	text-decoration:none;
}
a
{
	text-decoration:none;
}
ul
{
	list-style-type:none;
}

.container							
{
	width: 940px;
	margin: 0 auto;
}
.logoClass
{
	float:left;
	height:50px;
	width:165px;
	background: #ffffff url('../images/logo.png') center no-repeat;
	margin:10px 0px 15px 0px;
}
.headerNavigation
{
	float:left;
	margin:17px 0px 0px 60px;
	//line-height:75px;
}
.headerNavigation li
{
	float:left;
	margin-right:35px;
}
.headerNavigation li.last
{
	margin-right:0px;
}

.headerNavigation  a
{
	color:#0077cc;
	font-family: 'Arial';
	font-size:14px;
	line-height:24px;
	
	//font-family: 'open_sanssemibold';
}

.socialIcons
{
	float:right;
	margin-top:30px;
}
.socialIcons li
{
	float:left;
	margin-right:5px;
}
.socialIcons li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
	//background-color:#42aae4;
	
}

.socialIcons a
{
display:block;
float:left;
height:16px;
width:16px;
//border-radius:50%;

}
.socialIcons a.fb
{

background:url('../images/facebook.png') center no-repeat;

}
.socialIcons a.twitter
{
background:url('../images/twitter.png') center no-repeat;
}
.socialIcons li.last
{
	margin-right:0px;
}

.headerRightNav
{
	float:right;
	margin:30px 20px 0px 0px;
}
.headerRightNav li
{
	float:left;
	margin-right:15px;
	width:65px;
	position:relative;
}
.headerRightNav li.clear
{
	clear:both;
	float:none;
	width:0px;
	height:0px;
	//background-color:#42aae4;
	
}


.headerRightNav a
{
display:block;
float:left;
height:16px;
width:16px;
//margin-right:5px;
//border-radius:50%;

}
.headerRightNav a.contact
{

background:url('../images/contact.png') center no-repeat;

}
.headerRightNav a.login
{

background:url('../images/login.png') center no-repeat;

}
.headerRightNav .headerDetails
{
	//float:left;
	position:absolute;
	//top:-10px;
	display:inline-block;
	color:#0077cc;
	font-family: 'Arial';
	font-size:12px;
	line-height:16px;
	padding-left:21px;
}
.headerRightNav li.last
{
	margin-right:0px;
}
.clear
{
	clear:both;
	float:none;
}
.banner
{
	height:310px;
	//background-position:;
	background: #0064a4 url('../images/banner.jpg') center no-repeat;
	//background-repeat:;
}
.image
{
	width:464px;
	height:242px;
	float:left;
	margin-top:40px;
	background: url('../images/doctor.png') no-repeat;
}
.text
{
	width:382px;
	float:right;
	margin-top:78px;
}
.textHeading
{
	display:block;
	/*font-family: 'Georgia';
	font-weight:Bold;
	font-style:Italic;
	line-height:40px;
	font-size:28px;
	color:#ffffff;*/
	//margin-bottom:70px;
}
.text .h3
{
font-family: 'Georgia';
	font-weight:Bold;
	font-style:Italic;
	line-height:40px;
	font-size:28px;
	color:#ffffff;
	margin-bottom:70px;
}
.input
{
	/*//width:270px;
	//height:;*/
	border-radius:3px;
	padding:8px 80px 9px 0px;
	font-family: 'Arial';
	line-height:18px;
	font-size:16px;
	color:#b4b4b4;
	float:left;
	//margin-right:3px;
}
.submit
{
	border-radius:3px;
	padding:10px 15px 10px 15px;
	font-family: 'Arial';
	line-height:18px;
	font-size:16px;
	color:#ffffff;
	float:left;
	background:#ff9600;
	border:1px solid #ff9600 ;
}
.contents
{
	padding-bottom:33px;
	border-bottom: 1px solid #e2e2e2;
}
.description
{
	float:left;
	width:237px;
	margin:18px 35px 0px 0px;
	
}
.startingQuote
{
	width:27px;
	height:20px;
background: url('../images/startingQuote.png') no-repeat;
}
.endingQuote .h6
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#42aae4;
}
.endingQuote p
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#b4b4b4;
}	
.description .endingQuote
{
	background-image: url('../images/endingQuote.png');
background-repeat:no-repeat;
background-position: right bottom;
margin-bottom:7px;
}
.doctorName
{
	float:right;
	font-family: 'Arial';
	line-height:20px;
	font-size:12px;
	color:#444444;
}
.details
{
	float:left;
	width:231px;
	margin:0px 45px 0px 0px;
	
}
h5
{
	display:block;
	font-family: 'Arial';
	line-height:18px;
	font-size:12px;
	color:#444444;
	margin-bottom:15px;

}
.details p
{
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#444444;
}
.readMore
{
	float:right;
	font-family: 'Arial';
	line-height:16px;
	font-size:12px;
	color:#0077cc;
}
.signUp
{
	float:left;
	width:387px;
	margin-top:26px;
	
}

.signUpDetails
{
	display:block;
	font-family: 'Georgia';
	font-style:Italic;
	line-height:24px;
	font-size:16px;
	color:#0076d1;
	margin-bottom:18px;
}
.signUp a
{
	background:#ff9600;
	border-radius:3px;
	padding:11px 30px 12px 31px;
	display:block;
	float:right;
	font-family: 'Arial';
	line-height:22px;
	font-size:24px;
	color:#ffffff;
	
}
.footer
{
	padding-bottom:127px;
}
.footerLeft
{
	float:left;
	width:135px;
	margin-right:35px;
	padding-top:15px;
	}

.footerLeft .h6
{
	font-family: 'Arial';
	line-height:18px;
	font-size:12px;
	color:#444444;
	padding-bottom:5px;
}
.footerUl li
{
	//width:150px;
	border-bottom:1px dashed #e6e6e6;
	//padding:0px 0px 0px 0px;
}
.footerUl li.first
{
	//width:150px;
	border-top:1px dashed #e6e6e6;
	//padding:0px 0px 0px 0px;
}
.footerUl a
{
	font-family: 'Arial';
	line-height:14px;
	font-size:12px;
	color:#0077cc;
	//border-bottom:1px dashed #e6e6e6;
	//padding:0px 0px 8px 0px;
}
.footerRight
{
	float:right;
}
.copyRight
{
	font-family: 'Arial';
	line-height:18px;
	font-size:13px;
	color:#444444;
}