html, body, div, span, applet, object, iframe,			/* reset css */
h1, h2, h3, h4, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body								
{
	font-family: Arial, Helvetica, Georgia;
	font-size: 16px;
	line-height: 40px;
	text-decoration:none;
}
a
{
	text-decoration:none;
}
ul
{
	list-style-type:none;
}

.container							
{
	width: 940px;
	margin: 0 auto;
}
@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#OswaldBook') format('svg');
}
.headerTop input
{
	
	background:url('../images/searchTop.png') left no-repeat;
	padding-left:17px;
	float:left;
	width:173px;
	
}
.socialNav
{
	float:left;
	margin:5px 0 0 30px;
}
.socialNav li
{
	float:left;
	margin-right:10px;
	
}
.socialNav li img
{
	float:left;
}
.socialNav li a
{
float:left;
}
.socialNav li a.vector
{
	width:16px;
	height:16px;
	background:url('../images/vector.png') center no-repeat;
	
}
.socialNav li a.fb
{
	width:48px;
	height:20px;
	background:url('../images/fb.png') center no-repeat;
	margin-right:2px;
	
}
.socialNav li a.last
{
	width:59px;
	height:20px;
	background:url('../images/follow.png') center no-repeat;
	margin-right:2px;
}
.headerTopNav
{
	float:right;
	
}
.headerTopNav li
{
	float:left;
	
}
.headerTopNav li a.last
{
	border-right:1px solid #cccccc;
}
.headerTopNav a
{
	font-family:'Arial';
	font-size:12px;
	line-height:24px;
	color:#dd0000;
	padding:3px 15px 3px 10px ;
	background:url('../images/headerArrow.png') 93% no-repeat;
	border-left:1px solid #cccccc;
	display:block;
}
.header
{
	background: url('../images/headerGradient.jpg') center repeat-x;
}
.logoClass
{
	float:left;
	height:50px;
	width:188px;
	background: #ffffff url('../images/logo.png') center no-repeat;
	margin:30px 0px;
}
.headerAd
{
	float:left;
	margin:6px 0px 0px 23px;;
}
.headerNavigation
{
	background: url('../images/navigationGradient.jpg') center repeat-x;
	padding:3px 0px;
}
.headerNavigation a.activeClass
{
	float:left;
	background:#000000;
	font-family: 'OswaldBook';
	font-size:16px;
	line-height:24px;
	color:#ffffff;
	padding:6px 7px 6px 6px;
	border-radius:3px;
	margin-right:20px;
}
.headerNavigation ul
{
	float:left;
}
.headerNavigation ul li
{
	float:left;
	margin-right:23px;
}
.headerNavigation ul li.last
{
	margin-right:0px;
}
.headerNavigation ul a
{
	font-family: 'OswaldBook';
	font-size:16px;
	line-height:24px;
	color:#660000;
	padding:6px 10px 6px 4px;
	border:2px solid #dd0000;
	border-radius:3px;
}
.headerNavigation ul li span
{
	display:inline-block;
	width:5px;
	height:13px;
	padding-left:5px;
	background-image:url('../images/downArrow.png');
	background-repeat:no-repeat;
	background-position:right;
}
.headerNavigation ul a:hover
{
	background-color:#bb0000;
	border:2px solid #990000;
	border-radius:3px;
}
.searchCar
{
	padding:20px 0px 10px 0px;
	border-bottom:1px solid #dddddd;
}
.searchCarLeft
{
	float:left;
	width:341px;
	margin-right:10px;
}
.findCar
{
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	border:1px solid #dddddd;
	background:#ffffee;
	padding:20px 0px 10px 11px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.findCar h3
{
	font-family:'Arial';
	font-size:24px;
	line-height:24px;
	color:#555555;
	margin-bottom:5px;
}
.view
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
	display:block;
}
.findCar .budget
{
	font-family:'Arial';
	font-size:14px;
	line-height:24px;
	color:#555555;
	margin-right:100px;
}
.findCar .range
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
}
select
{
	font-family:'Arial';
	font-size:12px;
	line-height:24px;
	color:#999999;
	width:93px;
	padding: 5px 0px 5px 3px;
	margin-right:2px;
	float:left;
}
.findCar a
{
	padding: 9px 13px 1px 13px;
	background: #dd0000 url('../images/findCarIcon.png') center no-repeat;
}
.rangeBar
{
	float:left;
	width:281px;
	height:12px;
	border:1px solid #cccccc;
	background-color:#ffffff;
	margin:10px 2px 0px 0px;
	position:relative;
}
.rangeBar .leftRange
{
	display:block;
	position:absolute;
	left:30px;
	top:-5px;
}
.rangeBar .rightRange
{
	display:block;
	position:absolute;
	left:152px;
	top:-5px;
}
.rangeBox
{
width:112px;
	height:12px;
	position:absolute;
	left:40px;
	//border:1px solid #cccccc;
	background-color:#333333;
}

/*.leftRange
{
	height:25px;
	background:url('../images/leftRange.png') left no-repeat;
	margin-left:29px;
}
.rightRange
{
	height:25px;
	background:url('../images/rightRange.png') left no-repeat;
	margin-left:59px;
}*/
.findUsedCar
{
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	border:1px solid #eeeeee;
	background:#f5f5f5;
	padding:10px 0px 20px 11px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.findUsedCar h3
{
	font-family:'Arial';
	font-size:16px;
	line-height:24px;
	color:#555555;
	margin-bottom:5px;
	font-weight:Bold;
}
.selectUsedCar
{
	width:281px;
}
.findUsedCar a
{
	padding: 9px 13px 1px 13px;
	background: #000000 url('../images/usedCarIcon.png') center no-repeat;
}
.searchCarRight
{
	float:left;
	width:580px;
}
.top
{
	border:1px solid #eeeeee;
	background:#f5f5f5;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	padding:10px 15px;
	margin-bottom:10px;
}
.top .image
{
	float:left;
	margin:15px 10px 0 0;
}
.sellCar
{
	width:241px;
	float:left;
	margin-right:25px

}
.soldCars
{
	float:left;
	width:215px;
}
.soldCars span
{
	font-family:'Arial';
	font-size:14px;
	line-height:24px;
	color:#999999;
	display:block;
}
.soldCars select
{
	width:214px;
}
.searchCarRight .clear
{
	clear:both;
	float:none;
	padding:0px;
	border:none;
}
.top h3
{
	font-family:'Arial';
	font-size:16px;
	line-height:24px;
	color:#555555;
	margin-bottom:5px;
	font-weight:Bold;
	
}
.getCar
{
	width:245;
	float:left;
	margin-right:29px;
	padding:20px 0px 20px 15px;
}
.getCar h3
{
	font-family:'Arial';
	font-size:24px;
	line-height:24px;
	color:#555555;
	margin-bottom:5px;
}
.getCar ul
{
	margin-top:20px;
}
.getCar  li
{
	margin-bottom:10px;
}
.getCar li.last
{
	margin-bottom:0px;
}
.getCar a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#dd0000;
	border-radius:7px;
	border:1px solid #dddddd;
	background:url('../images/getCarArrow.png') 97% no-repeat;
	display:block;
	padding:11px 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.toyotaAd
{
	float:left;
}
.clear
{
	clear:both;
	float:none;
}
.newsUpdates
{
	padding:20px 0px 20px 0px;
	border-bottom:1px solid #dddddd;
}
.news
{
	width:341px;
	float:left;
	margin-right:10px;
}
.news h4
{
	font-family:'Arial';
	font-size:16px;
	font-weight:Bold;
	line-height:24px;
	color:#dd0000;
	padding-bottom:9px;
//	border-bottom:1px solid #dddddd;
background:url('../images/borderShadow.png') bottom repeat-x;
	
}
.news ul li
{
	border-bottom:1px solid #eeeeee;
	padding: 10px 0px;
}
.news ul li a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#000000;
	display: block;
}
.news span
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#cccccc;
	display:block;
}
.newsRight
{
	float:left;
	width:588px;
}

.askExpert li
{
	float:left;
	margin-right:20px;
}
.askExpert li.clear
{
	clear:both;
	float:none;
	margin:0px;
	width:0px;
	
}
.askExpert li.last
{
	margin-right:0px;
}
.askExpert a
{
	width:268px;
	font-family:'Arial';
	font-size:16px;
	line-height:24px;
	color:#dd0000;
	font-weight:Bold;
	border:1px solid #dddddd;
	border-radius:7px;
	display:block;
	padding:11px 0px 11px 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.askExpert a span
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
	display:block;
	font-weight: Normal;
}
.tabs
{
	float:left;
	width:580px;
	margin-top:20px;
	padding-bottom:10px;
	//border-bottom:1px solid #dddddd;
	font-family:'Arial';
	font-size:16px;
	line-height:24px;
	font-weight:Bold;
	background:url('../images/borderShadow.png') bottom repeat-x;
	position:relative;
}
.expertReview
{
	float:left;
	//background:url('../images/tabArrow.png') bottom no-repeat;
	color:#555555;
	margin-right:30px;
	
}
.tabs img
{
	display:block;
	position:absolute;
	bottom:1px;
	z-index:1;
}
.userReview
{
	float:left;
	
	color:#dd0000;
}
.expertTab
{
	float:left;
}
.expertTab li
{
	border-bottom:1px solid #dddddd;
	padding:10px 0 12px 0;
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
}
.bottomText
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
}
.bottomText a
{
	color:#dd0000;
}
.expertTab h4
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#dd0000;
	font-weight:Bold;
}
.expertTab a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#000000;
}
.events
{
	padding-top:27px;
	padding-bottom:20px;
	background:#ffffff;
}
.event
{
	width:201px;
	float:left;
	margin-right:10px;
}
.events #last
{
	margin-right:15px;
}
.event h4
{
	font-family:'Arial';
	font-size:14px;
	line-height:24px;
	color:#dd0000;
	padding-bottom:9px;
	//border-bottom:1px solid #dddddd;
	font-weight:Bold;
	background:url('../images/borderShadow.png') bottom repeat-x;
}
.event ul
{
	width:201px;
}
.event ul li
{
	border-bottom:1px solid #eeeeee;
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#cccccc;
	padding:12px 0px;
}
.event ul li a
{
	color:#000000;
}
.displayAd
{
	float:left;
	border:1px solid #dddddd;
	font-size:12px;
	line-height:18px;
	color:#000000;
	text-align:center;
	padding:106px 65px 106px 66px;
	
}
.displayAd span
{
	display:block;
}
.rectangle
{
	color:#cccccc;
}

.footer
{
	background: url('../images/footerGradient.jpg') center repeat-x;
	padding-top:27px;
	padding-bottom:100px;
}
.footerLeft
{
	width:626px;
	float:left;
	margin-right:10px;
	margin-bottom:15px;
}
.footerLeft h4
{
	font-family:'Arial';
	font-size:14px;
	line-height:24px;
	color:#555555;
	padding-bottom:9px;
	//border-bottom:1px solid #cccccc;
	font-weight:Bold;
	background:url('../images/borderShadow.png') bottom repeat-x;

}
.footerLeft ul
{
	width:202px;
	margin-right:10px;
	float:left;
	
}
.footerLeft ul.last
{
	margin-right:0px;
}
.footerLeft ul li
{
	border-bottom:1px solid #dddddd;
}
.footerLeft ul li a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#000000;
}
.footerRight
{
	width:304px;
	float:left;
}
.footerRight h4
{
	font-family:'Arial';
	font-size:14px;
	line-height:24px;
	color:#555555;
	padding-bottom:9px;
	//border-bottom:1px solid #cccccc;
	background:url('../images/borderShadow.png') bottom repeat-x;
	font-weight:Bold;
}
.footerRight ul
{
	width:304px;
	margin-right:10px;
	float:left;
}

.footerRight ul li
{
	border-bottom:1px solid #dddddd;
}
.footerRight ul li a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#000000;
}
.footerBottom
{
	margin-top:10px;
}
.footerBottom span
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
	float:left;
	margin-right:10px;
}
.footerNavigation
{
	float:left;
}
.footerNavigation li
{
	float:left;
}
.footerNavigation a
{
	font-family:'Arial';
	font-size:12px;
	line-height:16px;
	color:#777777;
	border-right:1px solid #777777;
	padding:0px 5px;
	display:block;
}
.footerNavigation a.first
{
	padding-left:0px;
}
.footerNavigation a.last
{
	border:none;
	padding-right:0px;
}